<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Edit Person</title>
    </h:head>
    <h:body>
        <h:form>
            <h:commandLink action="#{personController.list}" value="Back"/>
            <fieldset>
                <legend>Edit Person</legend>
                <h:panelGrid columns="2">
                    <h:outputLabel value="Name" for="name"/>
                    <h:inputText id="name" value="#{personController.model.name}"/>
                </h:panelGrid>
                <h:commandButton action="#{personController.save}" value="Save"/>
            </fieldset>
        </h:form>
    </h:body>
</html>
