<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Persons</title>
    </h:head>
    <h:body>
        <h:form>
            <h:commandLink action="#{personController.end}" value="Back"/>
            <fieldset>
                <legend>Persons</legend>
                <h:commandLink action="#{personController.create}" value="Create"/>
                <h:dataTable value="#{personController.list}" var="model">
                    <h:column>
                        <f:facet name="header">#</f:facet>
                        <h:outputText value="#{model.id}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">Name</f:facet>
                        <h:outputText value="#{model.name}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">Ações</f:facet>
                        <h:commandLink action="#{personController.edit}" value="Edit">
                            <f:setPropertyActionListener value="#{model.id}" target="#{personController.id}"/>
                        </h:commandLink>
                        &nbsp;|&nbsp;
                        <h:commandButton action="#{personController.delete}" value="Delete">
                            <f:setPropertyActionListener value="#{model.id}" target="#{personController.id}"/>
                        </h:commandButton>
                    </h:column>
                </h:dataTable>
            </fieldset>
        </h:form>
    </h:body>
</html>
