<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Conversation</title>
    </h:head>
    <h:body>
        <h:outputLabel value="#{rootController.message}"/>
        <hr/>
        <h:form>
            <h:commandLink action="#{conversationController.end}" value="Back"/>
            <br/><br/>
            <h:outputText value="Count: "/><h:outputLabel value="#{conversationController.count}"/>
            <br/><br/>
            <h:commandButton actionListener="#{conversationController.plusOne}" value="Plus One"/>
        </h:form>
    </h:body>
</html>
