<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Hello World</title>
    </h:head>
    <h:body>
        <h:outputLabel value="#{rootController.message}"/>
        <hr/>
        <h:form>
            <fieldset>
                <legend>Scopes</legend>
                <h:commandLink action="#{conversationController.start}" value="Conversation"/>
                &nbsp;|&nbsp;
                <h:commandLink action="#{viewController.start}" value="View"/>
                &nbsp;|&nbsp;
                <h:commandLink action="#{requestController.start}" value="Request"/>
                &nbsp;|&nbsp;
                <h:commandLink action="#{sessionController.start}" value="Session"/>
                &nbsp;|&nbsp;
                <h:commandLink action="#{singletonController.start}" value="Singleton"/>
            </fieldset>
            <fieldset>
                <legend>Person JPA CRUD</legend>
                <h:commandLink action="#{personController.list}" value="List"/>
            </fieldset>
        </h:form>
    </h:body>
</html>
